@model System.Collections.Generic.List<WebApplication1.Models.Discipline>

@{
    ViewBag.Title = "Disiplines";
    Layout = "_Layout";
}

<h2>Disciplines</h2>
<table class="table">
    <thead class="thead-light">
    <tr>

        <th scope="col">Key</th>
        <th scope="col">Name</th>
        <th scope="col">Degree</th>
        
    </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayName(item.key.ToString())</td>
    @{
        // TODO enviar o valor por parametro para devolver os decks da disciplina em que o user esta
        }
            <td><a class="nav-link text-dark" asp-area="" asp-controller="Deck" asp-action="Index" asp-route-discipline=@item.key>@Html.DisplayName(item.name)</a></td>
            <td>@Html.DisplayName(item.degree.ToString())</td>

        </tr>
    }
    </tbody>
</table>

