@model List<Card>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Cards</h2>

<table class="table">
    <thead class="thead-light">
    <tr>

        <th scope="col">Key</th>
        <th scope="col">Deck</th>
        <th scope="col">Question</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        // <td>@Html.DisplayName(item.Deck.ToString())</td>
        <tr>
            <td>@Html.DisplayName(item.key.ToString())</td>
            <td> @Html.DisplayName(item.deck.ToString())</td>
            <td>@Html.DisplayName(item.question)</td>
        </tr>
    }
    </tbody>
</table>




