@model List<Card>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";

    var index = Int32.Parse(TempData["ID"].ToString());

    Console.WriteLine("indexNumber " + index);
}

<h2 >Cards</h2>
@index
<div class="container">
    <div class="row">
        @if (Model.Count < 1)
        {
            <h1>No Cards</h1>
        }
        @if (index > Model.Count)
        {
            <h1>No more Cards</h1>
        }
        @if (Model.Count > 0)
        {
            <div class="col-sm-6">
                <br>
                <img src=@Model[index].questionImage width="400px">
            </div>
            <!-- /.col-sm-6 -->
            <div class="col-sm-6">

                <form action="/Cards?deckid=@System.Net.WebUtility.UrlEncode(Model[index].deck.ToString())?index=@System.Net.WebUtility.UrlEncode(index.ToString())" method="post">
                    <div class="form-group">
                        <p>Question: @Html.DisplayName(Model[index].question)</p>
                        <p>Comentary: @Html.DisplayName(Model[index].commentary)</p>
                        Answer: <input class="form-control" aria-describedby="emailHelp" placeholder="Asnwer"/>
                        <br>
                        <button class="btn btn-primary" asp-area="" asp-controller="Card" asp-action="Easy" asp-route-deck=@Model[index].deck asp-route-card=@Model[index].key>Easy</button>
                        <button class="btn btn-primary"> Medium</button>
                        <button class="btn btn-primary">Hard </button>
                    </div>
                </form>
            </div>
        }
        <!-- /.col-sm-6 -->
    </div>


    <!-- /.row -->
</div>
<!-- /.container -->