@model dynamic

@{
    ViewBag.Title = "Course";
    ViewBag.Login = "true";
    Layout = "_Layout";
}
<h2>Courses</h2>

<table class="table">
    <thead class="thead-light">
    <tr>

        <th scope="col">Key</th>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
        <td>@Html.DisplayName(item.key.ToString())</td>
        <td>@Html.DisplayName(item.name)</td>
        <td>Grade @Html.DisplayName(item.grade.ToString())</td>
      </tr>  
    }
    </tbody>
</table>




