@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Manage</h2>


<a  asp-area="" asp-controller="Degree" asp-action="DegreePage"><p>Manage Degrees</p></a>
<a  href="#"><p>Manage Cards</p></a>
<a  href="#"><p>Manage Decks</p></a>